@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #000;
    --secondary-color: #18181b;
    --border-color: #3f3f4666;

    --title-color: #f4f4f5;
    --subtitle-color: #a1a1aa;

    --bgHeader-color: #27272a;
    --blue-color: #5dbcfc;

    --icon-hover-color: #d4d4d8;

    --container-padding: 4.8rem;
}

.light {
    --primary-color: #fafafa;
    --secondary-color: #fff;
    --border-color: rgba(202, 202, 202, 0.518);

    --title-color: rgb(39 39 42);
    --subtitle-color: rgb(82 82 91);

    --bgHeader-color: rgb(253, 253, 253);
    --blue-color: rgb(0, 149, 246);

    --icon-hover-color: #333;

    --container-padding: 4.8rem;
}

body {
    background-color: var(--primary-color);
    color: #fff;
}

.container {
    border: 2px solid var(--border-color);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-color);
    padding: 0 var(--container-padding);
}

.devider {
    border-bottom: 2px solid var(--border-color);
    margin: 3rem 0;
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1);
}

li {
    list-style: none;
    /* padding: 1rem; */
    /* border-bottom: 2px solid var(--border-color); */
}

a {
    text-decoration: none;
    color: initial;
    transition: 0.2s;
}

.flex {
    display: flex;
    align-items: center;
}

.border {
    border: 2px solid red;
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

@media (max-width: 1000px) {
    .container {
        --container-padding: 1.7rem;
        width: 90%;
        padding: 0 1.7rem;
    }

    .devider {
        border-bottom: 2px solid var(--border-color);
        margin: 3rem 0;
        width: calc(100% + 1.7rem + 1.7rem);
        margin-left: -1.7rem;
    }
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px grey;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrollToTop {
    position: fixed;
    background-color: #1976d2d9;
    color: #888;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    bottom: 2rem;
    right: 3%;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 1.25rem;
}

.scrollToTop:hover {
    background-color: #1976d2;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.591);
}

@media (max-width: 600px) {
    .container {
        --container-padding: 1.7rem;
        width: 98%;
        padding: 0 1.7rem;
    }

    .devider {
        border-bottom: 2px solid var(--border-color);
        margin: 3rem 0;
        width: calc(100% + 1.7rem + 1.7rem);
        margin-left: -1.7rem;
    }

    .scrollToTop {
        opacity: 0.6;
        width: 2.2rem;
        height: 2.2rem;
        font-size: 1rem;
    }
}
